*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #27c7df;
    --background-black :#262729; 
}

a {
    text-decoration: none;
}

/* Begin: header */
header {
    background-color: var(--background-black) ;
    width: 100%;
    height: 80px;
    display: flex;
}

.headerBox {
    width: 1200px;
    margin: auto;
    display: flex;
    color: #fff;
}

.headerBox__logo{
    display: flex;
    margin-right: auto;
    align-items: center;
    
}

.logo {
    width: 60px;
    background-color: #fff;
    border-radius: 50%;
    
}

.nameHotel {
    margin-left: 10px;
    font-weight: 600; 
}

.nameHotel span {
    color: var(--primary-color); 
}

.headerCtrl {
    display: flex;
    align-items: center;
    position: relative;
}

.headerCtrl > a{
    margin-left:20px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    margin-right: 5px;
}

.headerCtrl > a:hover {
    color: var(--primary-color);
}

/* End: header */

/* Begin: Cart Item */
.items {
    display: flex;
    margin-top: 50px;
}

.item {
    display: flex;
    border: 1px solid #ccc;
    position: relative;
    --bs-gutter-x: 0;
}

.item__img {
    width: 30%;
}

.item__img img {
    width: 100%;
    height: 100%;
}

.item__content {
    padding: 20px;
    
}

.item__content .item__content-name {
    font-size: 28px;
    font-weight: 500;
    padding: 10px 0px;
}

.item__content i {
    font-size: 18px;
    color: var(--primary-color);
}

.item__content i span {
    color: #999;
    font-size: 15px;
    margin-left: 3px;
}

.item__content > p {
    color: var(--primary-color);
    padding: 10px;
}

.price {
    position: absolute;
    right: -14px;
    top: 40%;
    transform: translateY(-50%);
}

.price-label {
    background-color: var(--primary-color);
    color: #fff;
    padding: 4px 30px;
    font-size: 45px;
    font-weight: 500;
}

.price::after {
    content: "";
    display: block;
    border-color: transparent transparent #25839b transparent;
    border-width: 10px;
    border-style: solid;
    position: absolute;
    transform: rotate(-45deg);
    right: 4px;
    top: 76px;
}

.price p {
    margin-left: 30px;
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 500;
}

.price span {
    float: right;
    margin-right: 30px;
    font-size: 18px;
    margin-top: 5px;
    font-weight: 500;
}

.button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button-select {
    color: #fff;
    background-color: var(--primary-color);
    display: inline-block;
    font-size: 23px;
    padding: 12px 20px;
    border-radius: 3px;
}

.button-select:hover {
    background-color: #25839b;
    cursor: pointer
}

.button-delete {
    color: #fff;
    background-color: #ee4035;
    display: inline-block;
    font-size: 23px;
    padding: 12px 20px;
    border-radius: 3px;
    margin-left: 10px;
}

.button-delete:hover {
    background-color: #b1150a;
}

/* End: Cart Etem */