* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #27c7df;
    --background-black: #262729;
}

/* Begin: header */
header {
    background-color: var(--background-black) ;
    width: 100%;
    height: 80px;
    display: flex;
}

.headerBox {
    width: 1200px;
    margin: auto;
    display: flex;
    color: #fff;
}

.headerBox__logo{
    display: flex;
    margin-right: auto;
    align-items: center;
    
}

.logo {
    width: 60px;
    background-color: #fff;
    border-radius: 50%;
    
}

.nameHotel {
    margin-left: 10px;
    font-weight: 600; 
}

.nameHotel span {
    color: var(--primary-color); 
}

.headerCtrl {
    display: flex;
    align-items: center;
    position: relative;
}

.headerCtrl > a{
    margin-left:20px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    margin-right: 5px;
}

.headerCtrl > a:hover {
    color: var(--primary-color);
}


.carts {
    margin-right: 20px;
    position: relative;
}

.carts:hover > div{
    color: #fff;
    background-color: var(--primary-color);
}

.carts:hover > i {
    color: var(--primary-color);
}

.cart__count{
    background-color: #fff;
    border-radius: 50%;
    color: #000;
    padding: 1px 5px;
    position: absolute;
    right: -9px;
    top: 9px;
    font-size: 15px;
    font-weight: 500;
}

.carts i {
    color: #fff;
    line-height: 63px;
}



/* End: header */

.products {
    padding: 50px 0px;
}

.product {
    position: relative;
}

.cart {
    border: 1px solid #ccc;
}

.product__img img {
    width: 100%;
}

.product__description {
    padding: 10px;
}

.product__description .name {
    font-size: 23px;
}

.product::after {
    content: "";
    display: block;
    border-color: transparent transparent #25839b transparent;
    border-width: 8px;
    border-style: solid;
    position: absolute;
    transform: rotate(-45deg);
    right: 7px;
    top: 242px;
}

.product__description {
    padding: 10px 20px;
}

.name {
    color: var(--background-black);
    margin-bottom: 10px;
}

.cost {
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    position: absolute;

    right: 4px;
    top: 212px;
    background-color: var(--primary-color);
    width: 120px;
    height: 38px;

    line-height: 38px;
    text-align: center;
}



.icon-local {
    font-size: 12px;
    color: var(--primary-color);
}

.icon-local>* {
    color: #888;
    margin-left: 5px;
    font-size: 10px;
}

.button-select {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 8px 30px;
    display: inline-block;
    font-weight: 500;
    transition: 0.05s;
    margin-top: 10px;
}

.button-select:hover {
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
}