* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --primary-color: #27c7df;
    --background-black :#262729; 
}

a {
    text-decoration: none;
}

/* Begin: header */
header {
    background-color: var(--background-black) ;
    width: 100%;
    height: 80px;
    display: flex;
}

.headerBox {
    width: 1200px;
    margin: auto;
    display: flex;
    color: #fff;
}

.headerBox__logo{
    display: flex;
    margin-right: auto;
    align-items: center;
    
}

.logo {
    width: 60px;
    background-color: #fff;
    border-radius: 50%;
    
}

.nameHotel {
    margin-left: 10px;
    font-weight: 600; 
}

.nameHotel span {
    color: var(--primary-color); 
}

.headerCtrl {
    display: flex;
    align-items: center;
    position: relative;
}

.headerCtrl > a{
    margin-left:20px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    margin-right: 5px;
}

.headerCtrl > a:hover {
    color: var(--primary-color);
}


.carts {
    margin-right: 20px;
    position: relative;
}

.carts:hover > div{
    color: #fff;
    background-color: var(--primary-color);
}

.carts:hover > i {
    color: var(--primary-color);
}

.cart__count{
    background-color: #fff;
    border-radius: 50%;
    color: #000;
    padding: 1px 5px;
    position: absolute;
    right: -9px;
    top: 9px;
    font-size: 15px;
    font-weight: 500;
}

.carts i {
    color: #fff;
    line-height: 63px;
}



/* End: header */

/* Begin: Slide */
.slide {
    padding-top: 45%;
    background-clip: padding-box ;
    background: url(https://images.unsplash.com/photo-1505228395891-9a51e7e86bf6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1633&q=80) no-repeat center / cover;
    position: relative;
}



.slide::after {
    content: "";
    display: block;
    background-color: var(--background-black);
    position: absolute;
    height: 20%;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.65;
}

.slide__input {
    position: absolute;
    height:20%;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide__input-box {
    width: 80%;
    
}

.inputQuestion {
    color: #fff;
    font-size: 25px;
    padding-bottom: 20px;
    text-align: center;
}

.slide-form {
    display: flex;
    justify-content: center;
}

.slide-form  .input {
    outline: none;
    border: unset;
    line-height: 35px;
    padding: 0 10px;
    border-radius: 3px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.slide-form__group {
    background-color: #fff;
    display: flex;
    align-items: center;
    margin: 0px 10px;
    border-radius: 3px;
    height: 50px;
}

.slide-formCheckIn {
    display: flex;
    align-items: center;
}

.slide-formIcon {
    margin-top: 5px;
    margin-left: 5px;
}

.side-form__inputPeople {
    width: 100%;
    font-size: 25px;
    cursor: text !important;
}

.slideSubmit {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    padding: 10px 60px;
    cursor: pointer;
    font-weight: 600;
}

.slideSubmit:hover {
    background-color: #ccc;
    color: #000;
    border-color: #ccc;
    border-radius: 3px;
}


/* End: Slide */

/* Begin: products */

.top {
    padding: 50px 0px;
}
.top .top__heading {
    padding: 50px 0px;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 2px;
}

.top__heading__borderBottom {
    width: 100px;
    height: 8px;
    background-color: var(--primary-color);
    margin: auto;
}

.product {
    height: 385px;
    margin-top: 30px;
    --bs-gutter-y: 40px;
}

.product:hover .product__hover,.product:hover .product__img::after  {
    display: block;
}

.product__border {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.product__img {
    height: 300px;
    position: relative;
}

.product__img img {
    width: 100%;
    height: 100%;
}

.product__hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    padding: 20px;
    z-index: 1;
    transition: 0.2s;
    display: none;
}

.product__hover_des {
    line-height: 1.4;
    font-size: 18px;
    
}

.product__img::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-color);
    opacity: 0.7;
    transition: 0.2s;
    display: none;
}

.product__hover-icon {
    font-size: 45px;
    position: absolute;
    right: 30px;
    top: 48%;
}

.product__hover-services {
    border-top: 1px solid #fff;
    margin-top: 14%;
    display: flex;
    flex-wrap: wrap;
}

.product__hover-service {
    display: flex;
    padding: 10px 0;
    width: 50%;
}

.product__hover-ser-icon {
    font-size: 13px;
    background-color: #fff;
    border-radius: 50%;
    color: var(--primary-color);
    padding: 5px 5px;
    margin-right: 10px;
}

.product__description {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    height: 85px;
    align-items: center;
    
}

.product__name {
    font-size: 20px;
    font-weight: 600;
    color: #000; 
}

.product__cost {
    display: flex;
    align-items: center;
    gap: 5px;
}

.cost {
    font-size: 23px;
    font-weight: 600; 
    color: #e62d2d;
}

.night {
    font-size: 16px;
    color: rgb(172, 169, 169);
    line-height: 15px;
}



/* End: products */
